* {
  margin: 0px;
  padding: 0px;
}
header::before {
  position: absolute;
  background-image: url("nnn.jpg");
  background-repeat: repeat;
  z-index: -1;
  content: "";
  width: 100%;
  height: 100%;
  opacity: 0.2;
}
.forms {
  color: white;
  text-align: center;
  font-size: 25px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
}
h3 {
  text-align: center;
  color: brown;
  font-size: 55px;
  animation: animate 1.5s linear infinite;
}
.forms {
  margin: 0px 500px;
  width: auto;
}

.form-content {
  border: 2px solid white;
  display: flex;
  flex-direction: column;
  /* width: 122px; */
  padding: 12px 12px;
  justify-content: center;
}
.label-input-container {
  margin: 5px;
  padding: 5px 10px;
}
.button {
  width: 140px;
  height: 25px;
  color: black;
  transition: animation 1ms ease;
}
.button:hover {
  background-color: brown;
  color: grey;
}
input[type] {
  padding: 5px;
  font-size: 15px;
}

@keyframes animate {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}
