* {
  color: rgb(255, 255, 255);
  font-family: "Montserrat", sans-serif;
  padding: 0px;
  margin: 0px;
}
body {
  background-color: hsl(0, 0%, 0%);
}
.logo{
  font-size: 30px;
  /* border: 2px solid white; */
  margin: 0px;
  padding: 0px;
  vertical-align: middle;
  font-family: 'Roboto Condensed', sans-serif;

}
.navbar {
  margin: 20px 22px;
  background-color: #2020209f;
  border-radius: 30px;
}
.navbar li {
  display: inline-block;
  margin: 12px 7px;
  vertical-align: middle;
}
.navbar li img {
  display: inline-block;
  width: 55PX;
  height: 30PX;
  vertical-align: middle;
  margin:12px;
}

.navbar ul li a {
  display: inline-block;
  vertical-align: middle;
  text-decoration: none;
  padding: 10px;
}

/* Change the link color on hover */
.navbar li a:hover {
  background-color: #555;
  color: rgb(255, 0, 0);
}
.heading h2 {
  position: relative;
  font-size: 24px;
  margin: 40px 100px;
  /* border: 2px solid white; */
}
/* .heading u {
  border: 2px solid white;
} */

p {
  margin: 10px 100px;
  font-size: 20px;
}
.a1 {
  display: inline;
  margin-left: 100px;
  position: relative;
}
.a1 img {
  width: 200px;
  margin-left: 122px;
  border: 2px solid white;
  /* justify-content: space-around; */
  transition: all 1s ease-in;
  cursor: pointer;
}
.a1 img:hover {
  width: 400px;
  border: 2px solid white;
}
.a1 #filter1 {
  /* display: inline-flexbox; */
  filter: invert();
  border: 2px solid black;
}

#search {
  float: right;
  display: inline;
  width: 200px;
  height: 25px;
  margin: 12px;
  /* vertical-align: middle; */
  /* margin: 18px; */
  /* transition: all 3s ease-in ; */
  /* animation: animate 1.5s linear; */
  border-radius: 5px;
}
.image {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s ease-in-out;
  width: 822px;
  margin: 0px 300px;
  padding: 12px 12px;
}
h1 {
  text-align: center;
  animation: animate 1.5s linear infinite;
  margin: 22px;
}

@media (max-width: 900px) {
  .image {
    display: flex;
    justify-content: center;
    width: 100%;
  }
  .a1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    margin: auto;
  }
  #search {
    display: inline-block;
  }
}
@keyframes animate {
  0% {
    opacity: 0.5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}
